p {
	color: orange;
}

h2 {
	background-color: gray;
}

a {
	color: #0099ff;
}

body {
	font-family: Georgia;
	margin: 20px;
}

header {
	text-align: center;
	background: orange;

}

#about {

}

.about {
	background: blue;
}

.links {

}

.links h2 {
	background-color: red;
	font-family: Helvetica;
}

.contact {
	text-align: center;
	color: #FFF;
	background: url("images/dark_embroidery.png");
	height: 115px;
}

.contact img {
	height: 50px;
	border-radius: 50%;
}

.contact img:hover {
	opacity: 0.5;
}

ul.websites {
	padding: 0;
}

ul.websites li {
	list-style: none;
	display: inline-block;
}

.websites a {
	background: #38a88f;
	padding: 10px 20px;
	color: #fff;



}